.loading {
  pointer-events: none;
  filter: opacity(0.3);
}

/* .container input {
    width: 100%;
    padding: 0;
    caret-color: black;
  } */

.h5p-input-container {
  display: flex;
  justify-content: space-between;
}

.h5p-input-container .input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #555555;
  font-size: 14px;
  outline: none;
  transition: background-color 0.3s ease;
  vertical-align: top;
  text-indent: 5px;
  line-height: 1em;
}

.h5p-input-container .input:focus {
  background-color: #e6e6e6;
}

.h5p-input-container .h5p-editor-component-root {
  box-sizing: border-box;
  width: 300%;
  flex: 1;
  /* Add any other desired styles for the H5P editor component */
}

.input-wrapper {
  position: relative;
  width: 28%;
}

.generate-button {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 100px;
  height: 30px;
  background-color: #87ceeb; /* Pastel blue color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 20px; /* Adjust the value to control the roundness of the edges */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #6ca6cd; /* Darker shade of pastel blue on hover */
}

.generate-button:focus {
  outline: none;
}

.star-rating {
  position: absolute;
  top: 500px; /* Adjust the top position as needed */
  left: 90px; /* Adjust the left position as needed */
  z-index: 1; /* Ensure the star rating appears above the textarea */
}

/* Add additional styles for the stars */
.star-rating span {
  font-size: 24px; /* Increase the font size of the stars */
  color: #ffcc00; /* Change the color of the stars to yellow */
  padding-right: 5px; /* Add some spacing between the stars */
}

/* Add styles for filled and empty stars */
.star-rating .filled {
  color: gold; /* Change the color for filled stars */
}

.star-rating .empty {
  color: gray; /* Change the color for empty stars */
}
